body {
    background-color: #eedff3;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 40px;
    color: #2b2b2b;
}

h1 {
    color: #0d47a1;
    text-align: center;
    font-size: 36px;
    font-family: "Paytone One", sans-serif;
    margin-bottom: 24px;
}

h2 {
    color: #8e24aa; /* Ajustado para dar melhor contraste com o fundo */
    font-size: 28px;
    font-family: "Paytone One", sans-serif;
    margin-top: 40px;
}

h3 {
    color: #1a237e;
    margin-bottom: 8px;
}

/* Estilização para links */
a {
    color: #1565c0;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #0d47a1;
}

/* Ajuste nos elementos de mídia */
video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}
